@font-face {
    font-family: 'ETC Trispace';
    src: url('ETCTrispace-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ETC Trispace';
    src: url('ETCTrispace-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}